<div class="container">
  <div class="addItem">
    <button (click)="addItem()">Add new task</button>
  </div>
  <div class="tableContainer">
    <div class="tableBox">
      <div class="listHead">To Do<hr /></div>
      <table class="tableStyle">
        <tr *ngFor="let item of data">
          <ng-container *ngIf="item.checked == false">
            <td>{{ item.task }}</td>
            <td>
              <input
                type="checkbox"
                [id]="'box' + item.id"
                [(ngModel)]="item.checked"
                (change)="onCheckboxChange(item)"
              />
            </td>
          </ng-container>
        </tr>
      </table>
    </div>
    <div class="tableBox">
      <div class="listHead">Done<hr /></div>
      <table class="tableStyle">
        <tr *ngFor="let item of data">
          <ng-container *ngIf="item.checked == true">
            <td>{{ item.task }}</td>
            <td>
              <input
                type="checkbox"
                [id]="'box' + item.id"
                [(ngModel)]="item.checked"
                (change)="onCheckboxChange(item)"
              />
            </td>
          </ng-container>
        </tr>
      </table>
    </div>
  </div>
  
</div>
