.headerBox {
    text-align: center;
    background-color: yellow;
    width: 80%;
    margin: auto;
    box-shadow: 5px 4px 4px gray;
    border-radius: 2px;
}

.headerText {
    color: black;
    font-size: 300%;
    padding-top: 0.5%;
    padding-bottom: 0.75%;
}